@model IEnumerable<DAO.Entities.Sell_List>
@{
    ViewBag.Title = "ListOfLists";
}
<h2>
    ListOfLists</h2>
<table>
    <tr>
        <th>
            Missing Date
        </th>
        <th>
            Missing Creator
        </th>
        <th>
            @Html.LabelFor(model => Model.FirstOrDefault().Id)
        </th>
        <th>
            @Html.LabelFor(model => Model.FirstOrDefault().Seller.Name)
        </th>
        <th>
            @Html.LabelFor(model => Model.FirstOrDefault().Seller.City)
        </th>
        <th>
            @Html.LabelFor(model => Model.FirstOrDefault().NumberClothes)
        </th>
        <th>
            @Html.LabelFor(model => Model.FirstOrDefault().NumberToys)
        </th>
        <th>
            Action
        </th>
    </tr>
    @foreach (var list in Model)
    {
        <tr>
            <td>
                ??
            </td>
            <td>
                ??
            </td>
            <td>
                @Html.DisplayFor(modelItem => list.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => list.Seller.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => list.Seller.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => list.NumberClothes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => list.NumberToys)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { modelId = list.Id })
                @Html.ActionLink("Delete", "Delete", new { modelId = list.Id })
            </td>
        </tr>
    }
</table>